<h1>Listing user_answers</h1>

   <div class="Survey"><%= @survey.name %></div>
   <%= f.hidden_field :survey_id, :value => @survey.id  %>
   <% @survey.user_answers.user(current_user).each do |answer| %>
    <div class="QuestionHeader">
      <p><%= answer.question.content %></p>
    </div>
    <div class="answer">
      <p><%= answer.content %></p>
    </div>
    <%  end %>

