<h1>Editing survey</h1>

<%= render :partial => 'form' %>

<%= link_to 'Show', @survey %> |
<%= link_to 'View All', surveys_path %> |
<%= link_to 'Destroy', @survey, :confirm => 'Are you sure?', :method => :delete %>
